<!DOCTYPE html>
<html lang="en">

<head>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Менеджер задач Hexlet</title>
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-light-lg px-4 d-flex bd-highlight bg-light text-dark ms-3">
      <div class="p-2 flex-grow-1">
        <a class="navbar-brand" href="{% url 'index' %}">Менеджер задач</a>
      </div>
      <div class="p-2">
        <a class="nav-link" href="{% url 'users' %}">Пользователи</a>
      </div>
      {% if request.user.is_authenticated %}
        <div class="p-2">
          <a class="nav-link" href="{% url 'status_list' %}">Статусы</a>
        </div>
        <div class="p-2">
          <a class="nav-link">Метки</a>
        </div>
        <div class="p-2">
          <a class="nav-link">Задачи</a>
        </div>
        <div class="p-2">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input class="btn nav-link" type="submit" value='Выход'>
          </form>
        </div>
      {% else %}
        <div class="p-2">
          <a class="nav-link" href="{% url 'login' %}">Вход</a>
        </div>
        <div class="p-2">
          <a class="nav-link" href="{% url 'user_create' %}">Регистрация</a>
        </div>
      {% endif %}
    </nav>
  </header>

  {% bootstrap_messages %}

  <main class="container wrapper flex-grow-1 my-4">
    {% block content %}{% endblock %}
  </main>

  <footer>
    <div class="container my-5 pt-4 border-top">
    </div>
  </footer>

</body>

</html>