{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container wrapper flex-grow-1">
  <br>
  <div class="card">
    <div class="card-body p-5 bg-light">
      <div class="display-4">Менеджер задач</div>
        <p class="lead">Система управления задачами</p>
        <hr>

        {% if user.is_authenticated %}
          <a class="btn btn-primary btn-lg" href="{% url 'task_create' %}">Начать</a>
        {% else %}
          <a class="btn btn-primary btn-lg" href="{% url 'login' %}">Начать</a>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}
